body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Lato', Helvetica, sans-serif ;
}
.singPage {
  width: 1020px;
  display: grid; 
  grid-template-areas: "header"
                       "headerBtm";
  grid-template-columns: 100%;
  margin: 0 auto;
}
.containerSin1 {
  width: 1020px;
  display: grid; 
  grid-template-areas: "slider"
                       "sliderBtm"
                       "services"
                       "servicesBtm";
  grid-template-columns: 100%;
  margin: 0 auto;
}
.containerSin2 {
  width: 1020px;
  display: grid; 
  grid-template-areas: "container_card"
                       "container_bgBottom1"
                       "container_aboutUs"
                       "container_bgBottom2";
  grid-template-columns: 100%;
  margin: 0 auto;
}
.containerSin3 {
  width: 1020px;
  display: grid; 
  grid-template-areas: "GaQ"
                       "footer";
  grid-template-columns: 100%;
  margin: 0 auto;
}


/*стили Singolo1*/
header {
  grid-area: header; 
  color: #ffffff;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 89px;
  background-color: #2D303A;
  top: 0;
  position: sticky;
  z-index: 4;
}
.headerBtm {
  grid-area: headerBtm; 
  height: 6px;
  background-color: #323746
}
.slider {
  grid-area: slider; 
  width: 1020px;
  height: 585px;
  
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
}
#bgSlider {
  background-color: #f06c64;
}
.sliderBtm {
  height: 15px;
  opacity: 0.1;
  background-color: #ea676b;
}
.slide {
  overflow: hidden;
}
.carousel {
  position: relative;
}
.carousel-inner {
  width: 100%;
}
.carousel-item {
  display: none;
  position: relative;
  animation: 0.19s ease-in-out;
}
.active,
.next {
  display: block;
}
.next {
  position: absolute;
  width: 100%;
}
.buttonMobile {
  position: absolute;
}
.buttonMobile .black_screenV {
  position: absolute;
  top: 116px;
  left: -384px;
  width: 189px;
  height: 334px;
  background-color: #323746;
  z-index: 3;
  opacity: 0;
  transition: 0.09s ease-in;
}
.buttonMobile .black_screenV2pic {
  position: absolute;
  top: 109px;
  left: -112px;
  width: 200px;
  height: 355px;
  background-color: #323746;
  z-index: 3;
  opacity: 0;
  transition: 0.09s ease-in;
}
.buttonMobile .black_screenH {
  position: absolute;
  top: 188px;
  left: -25px;
  width: 333px;
  height: 188px;
  background-color: #323746;
  z-index: 3;
  opacity: 0;
  transition: 0.09s ease-in;
}
.buttonMobile img.buttonMobileV {
  position: absolute;
  top: 457px;
  right: 269px;
  z-index: 4;
  opacity: 0.1;
  cursor: pointer;
}  
.buttonMobile img.buttonMobileV2pic {
  position: absolute;
  top: 473px;
  right: -10px;
  z-index: 2;
  opacity: 0.1;
  cursor: pointer;
}  
.buttonMobile img.buttonMobileH {
  position: absolute;
  top: 260px;
  right: 34px;
  z-index: 4;
  opacity: 0.1;
  cursor: pointer;
}
.buttonMobile img.buttonMobileV:hover {
  border: 1px solid #2D303A;
  border-radius: 20px;
}  
.buttonMobile img.buttonMobileV2pic:hover {
  border: 1px solid #2D303A;
  border-radius: 20px;
}  
.buttonMobile img.buttonMobileH:hover  {
  border: 1px solid #2D303A;
  border-radius: 20px;
}

/*from slider js*/
.to-left {
  animation-name: left;
}
.to-right {
  animation-name: right;
  animation-direction: reverse;
}
.from-left {
  animation-name: left;
  animation-direction: reverse;
}
.from-right {
  animation-name: right;
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

section.services {
  grid-area: services; 
  height: 495px;
  background-color: #f2f2f2;
  color: #666d89;
}
.servicesBtm {
  height: 6px;
  background-color: #ffffff;
}
.containerSin1 h2 {
  padding-top: 33px;
  padding-left: 41px;
  letter-spacing: -0.915px;
  font-size: 31px;
  font-weight: 900;
}
.containerSin1 p {
  margin: -9px 0px 0px 40px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  overflow: hidden;
}
.services .logic_block p {
  display: flex;
  margin: -12px 0px 0 1px;
  font-weight: 600;
  overflow: hidden;
  width: 220px;
  height: 70px;
}
img.phones {
  margin: -3px 5px 0px 0px;
}
.carousel-control-prev {
  position: absolute;
  margin: 281px 0px 0 -341px;
}
.carousel-control-next {
  position: absolute;
  margin: 281px 0 0 341px;
}
footer p{
  line-height: 1.9;
  padding-top: 14px;
  letter-spacing: 0.1px;
  word-spacing: 0.5px;
  font-size: 13pt;
  text-align: justify;
  width: 940px;
}
header a {
  text-decoration: none;
  font-size: 12px;
  line-height: 6px;
  font-weight: 700;
  color: #FFFF;
  transition: color 0.2s ease-out;
}
header a:hover {
  color: #F06C64;
  transition: color 0.2s ease-in;
}
header a.active {
  color: #F06C64;
}
header a:active {
  color: #F06C64;
}
header span {
  color: #F06C64;
}
.header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding-right: 17px;
  font-size: 0.78em;
  letter-spacing: -0.5px;
}
.header .navBull:not(:first-child):before {
  content: '\00B7';
  color: #767e9ec5;
  display: inline-block;
  margin-right: 12px;
}
.header a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  margin: 11px 37px 0 -26px;
  line-height: 0.8;
}
.logo {
  text-decoration: none;
  color: #ffffff;
  padding: 0 0 0 39px;
  font-size: 25px;
  cursor: default;
}
.logic_block {
  padding-left: 19px;
  padding-top: 27px;
  display: flex;
  flex-wrap: wrap;
}
.logic_blockCom {
  margin-bottom: 29px;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 100px;
}
.logic_blockContainer > p {
  text-align: justify;
  margin-left: 0px;
  font-size: 0.71em;
  letter-spacing: 0.1px;
  width: 220px;
  word-spacing: 1.5px;
  line-height: 1.95;
  padding-top: 0px;
  font-stretch: extra-expanded;
}
.logic_blockContainer {
  display: relative;
  width: 220px;
  height: 100px;
}
.l2 {
  margin: -7px 0px 0px 0px;
}
.logic_blockContainer h3 {
  overflow: hidden;
}
a.carousel-control-prev#PreviousSl {
  transform: translate(-120px, 0px);
  z-index: 3;
  cursor: pointer;
}
a.carousel-control-next#NextSl {
  transform: translate(120px, 0px);
  z-index: 3;
  cursor: pointer;
}

/*стили Singolo2*/
.contentSin2 {
  width: 1020px;
  margin: 0 auto;
}
main {
  height: 864px;
}
section.people {
  height: 722px;
}
.contentSin2 .container_card {
  grid-area: container_card;
  height: 864px;
  margin: 0 auto;
  background-color: #2d303a;
}
.container_bgBottom1 {
  grid-area: container_bgBottom1;
  height: 14px;
  margin: 0;
  background-color: #323746;
}
.container_aboutUs {
  grid-area: container_aboutUs;
  height: 722px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.container_bgBottom2 {
  grid-area: container_bgBottom2;
  height: 7px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.contentSin2 .logo1 {
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  margin: 0px 858px 0px 40px;
  padding-top: 57px;
}
.contentSin2 .logo2 {
  font-size: 30px;
  color: #666d89;
  font-weight: 900;
  margin: 0px 825px 0px 40px;
  padding-top: 50px;
}
.contentSin2 .text1 {
  width: 940px;
  font-weight: 300;
  font-size: 17.5px;
  letter-spacing: 0.0pt;
  word-spacing: 0.9pt;
  color: #767e9e;
  margin: 0px 297px 0px 41px;
  padding-top: 24px;
}
.contentSin2 .text2 {
  width: 940px;
  font-weight: 300;
  font-size: 17.5px;
  color: #767e9e;
  margin: 0px 297px 0px 40px;
  padding-top: 17px;
  line-height: 1.8;
  text-align: justify;
}
.contentSin2 span {
  letter-spacing: 0.1pt;
  word-spacing: 0.3pt;
}
.contentSin2 nav {
  margin: 10px 0px 0px 0px;
}
.contentSin2 ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
}
.contentSin2 ul li button {
  border-radius: 5px;
  font-size: 12px;
  padding: 3px 6px 2px 6px;
  color: #dedede70;
  border: 1px solid #dedede33;
  background-color: #323746;
  margin: 0 7px 19px 0;
  cursor: pointer;
  border-radius: 5px;
}
.contentSin2 ul li button:hover {
  color: #dedede;
  border: 1px solid #c5c5c5;
}
.contentSin2 ul li button.active {
  color: #dedede;
  border: 1px solid #c5c5c5;
}
.contentSin2 .gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  max-width: 100%;
  max-height: 620px;
  overflow: hidden;
  margin: -19px 0 0 20px;
}
.contentSin2 .gallery .img {
  width: 220px;
  height: 187px;
  border: 0px solid gray;
  overflow: hidden;
  margin: 20px 20px 0 0;
  cursor: pointer;
  opacity: 0.7;
}
.contentSin2 .gallery .img:hover {
  opacity: 0.8;
}
.gallery img.pr01:nth-child(1) {
  margin: 20px 21px 0px 0px;
}
.gallery img.pr02:nth-child(1) {
  margin: -42px 0px 0px -82px;
}
.gallery img.pr03:nth-child(1) {
  margin: 0px 0px 0px -11px;
}
.gallery img.pr04:nth-child(1) {
  margin: -1px 0px 0px -24px;
}
.gallery img.pr05:nth-child(1) {
  margin: -16px 0px 0px -10px;
}
.gallery img.pr06:nth-child(1) {
  margin: -3px 0px 0px -16px;
}
.gallery img.pr07:nth-child(1) {
  margin: -39px 0px 0px -30px;
}
.gallery img.pr08:nth-child(1) {
  margin: -31px 0px 0px -23px;
}
.gallery img.pr09:nth-child(1) {
  margin: -2px 0px 0px -15px;
}
.gallery img.pr010:nth-child(1) {
  margin: -112px 0px 0px -140px;
}
.gallery img.pr011:nth-child(1) {
  margin: -174px 0px 0px -143px;
}
.gallery img.pr012:nth-child(1) {
  margin: -58px 0px 0px -36px;
}
.galleryPeople {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  max-width: 100%;
  max-height: 620px;
  overflow: hidden;
  margin: -13px 0 0 17px;
}
.galleryPeople .people {
  width: 300px;
  height: 500px;
  margin: 58px 18px 0 3px;
}
.galleryPeople h2 {
  font-size: 18px;
  margin: 10px 0px 0 -1px;
}
.galleryPeople img {
  width: 300px;
  height: 300px;
  background-color: #464b5e;
}
.galleryPeople h3 {
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  margin: 15px -4px -1px -2px;
  overflow: hidden;
}
.galleryPeople p {
  width: 300px;
  font-weight: 400;
  font-size: 12px;
  text-align: justify;
  color: #767e9e;
  line-height: 1.8;
  margin: 9px -2px 0 -1px;
}
.galleryPeople img.social {
  width: 34px;
  height: 34px;
  border-radius: 18px;
  /*background-color: #eb5055;
  border: 1px solid #666d89;*/
  background-color: #f2f2f2;
  margin: 24px 2px 0px 0px;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.galleryPeople img.social:hover {
  opacity: 1.0;
}


/*стили Singolo3*/
section.GaQ {
  grid-area: GaQ;
  width: 1020px;
  height: 643px;
  margin: 0 auto;
  background-color: #f06c64;
  overflow: hidden;
}
footer {
  grid-area: footer;
  width: 1020px;
  height: 76px;
  margin: 0 auto;
  background-color: #2d303a;
}
.contentSin3 .logo1 {
  font-size: 30px;
  color: #f0d8d9;
  font-weight: 900;
  margin: 15px 810px 0px 40px;
  padding-top: 40px;
}
.contentSin3 .text2 {
  width: 940px;
  font-weight: 300;
  font-size: 17.5px;
  color: #f0d8d9;
  margin:-5px 295px 0px 40px;
  padding-top: 21px;
  line-height: 1.8;
  text-align: justify;
}
.contentSin3 span {
  letter-spacing: 0.1pt;
  word-spacing: 0.3pt;
}
.wrapper_contact {
  display: flex;
  margin: 27px 0px 0px 40px;
}
.wrapper_contact input {
  font-size: 12px;
  line-height: 22px;
  color: #fcfcfc;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 15px;
}
.wrapper_contact .inBut {
  border: 1px solid #f06c64;
  color: #fcfcfc;
  text-align: center;
  width: 120px;
  height: 40px;
  cursor: pointer;
text-align: center;
opacity: 0.7;
border-radius: 5px;
  background-color: #d6564f;
}

.contentSin3 form p {
  margin: 16px 0px 0px 0px;
}
#name,
#email,
#subject {
  width: 605px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background-color: #d6564f;
  margin: 14px 0px 2px 0px;
}
#describe {
  width: 605px;
  height: 5px;
  padding: 14px 0px 186px 15px;
  border: 0;
  border-radius: 5px;
  background-color: #d6564f;
  margin: 0;
}
#name::placeholder,
#email::placeholder,
#subject::placeholder,
#describe::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
}
.contactInf {
  margin: -9px 0px 0px 22px;
}
.contactInf .logoContact {
  font-weight: 900;
  font-size: 17.5px;
  color: #f0d8d9;
  line-height: 1.8;
  text-align: justify;
}
.contactInf .textContact {
  font-weight: 400;
  font-size: 12px;
  color: #f0d8d9;
  line-height: 1.9;
  word-spacing: 0px;
  text-align: justify;
  margin: -15px 51px 0px -2px;
}
.contactInf p a {
  width: 7px;
  height: 7px;
  margin: 0px 10px 0px 3px;
}
.textContactInf {
  font-weight: 400;
  font-size: 12px;
  color: #f0d8d9;
  line-height: 0;
  word-spacing: 0px;
  text-align: justify;
  margin: 24px 0px -11px -3px;
}
.BgBottom {
  width: 1020px;
  height: 6px;
  background-color: #ea676b;
}
.contentSin3 footer {
  grid-area: footer; 
  display: flex;
}
.contentSin3 footer .labelContact{
  margin-left: auto;
  margin-right: 36px;
}
.contentSin3 footer a {
  margin: 24px 2px 0px 0px;
  
}
.contentSin3 footer img.social {
  width: 34px;
  height: 34px;
  border-radius: 18px;
  /*background-color: #eb5055;
  border: 1px solid #666d89;*/
  background-color: #2d303a;
  float: right;
  margin: 22px 3px 0px 3px;
  opacity: 0.6;
}
.contentSin3 footer img.social:hover {
  opacity: 1.0;
}
.copyright {
  width: 300px;
  color: #626986;
  margin: 15px 40px 0px 44px;
  font-weight: 400;
  font-size: 11px;
}
.copyright:hover {
  color: #d6564f;
  cursor: default;
}

/*всплывающее окно*/
.toast {
  max-width: 350px;
  overflow: hidden;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: none;
  position: relative;
  padding: 0.75rem 2rem 0.75rem 0.75rem;
  margin: 0 auto;
}

.msgBox {
  position: sticky;
}

.toast:not(:last-child) {
  margin-bottom: 0.75rem;
}

.toast_show {
  display: block;
}

.toast__close {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.6;
  appearance: button;
  margin: 0;
  font-family: inherit;
  border-radius: 0;
}

input:not([type="checkbox"]) {
  display: block;
  font-size: 1rem;
  margin-bottom: .5rem;
}